<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8"/>
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" th:value="${user.id}"
								   type="hidden"/>
							<div class="form-group">
								<label class="col-sm-3 control-label">工号：</label>
								<div class="col-sm-8">
									<input id="userNumber" name="" class="form-control" type="text" readonly="readonly" th:value="${user.userNumber}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">姓名：</label>
								<div class="col-sm-8">
									<input id="userName" name="" class="form-control" readonly="readonly" th:value="${user.userName}"
										   type="text"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">授权角色：</label>
								<input id="roleIds" name="roleIds" type="hidden"/>
								<div class="col-sm-8" >
									<div style="float: left; width: 100%;" th:each="app:${appToRoleList}">
										<label  th:each="entry : ${app}" th:text="${entry.key}"></label><br/>
										<label  th:each="entry : ${app}">
											<label th:each="role : ${entry.value}" class="checkbox-inline">
												<input  name="role" type="checkbox" th:value="${role.id}" th:checked="${role.checked}" th:text="${role.title}"/>
											</label>
										</label>
										<br/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/static/js/sys/user/author.js">
	</script>
</body>

</html>
